@model VU.Models.Event

@{
    ViewBag.Title = "Delete";
}

<div class="upper-content">
    <h4 class="my-header">Event Details:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Organizer.OrganizerName)*@
            @Html.DisplayName("Organizer Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizer.OrganizerName)
        </dd>

        <dt>
            @Html.DisplayName("Event Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayName("Event Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventLocation)
        </dd>

        <dt>
            @Html.DisplayName("Start Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayName("End Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
			<input type="button" value="Cancel" class="btn btn-default-cancel" onclick="location.href='@Url.Action("Index","Events")';"/>
            <input type="submit" value="Delete" class="btn btn-default-delete" />
        </div>
    }
</div>
