@model VU.Models.Event

@{
    ViewBag.Title = "Event Details";
}


<div>
    <h4>Event Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Organizer.OrganizerName)*@
            @Html.DisplayName("Organizer Name")
        </dt>

        <dd>
            <a href="@Url.Action("Details", "Organizers" , new { id = Model.OrganizerID })" title="View Organization Details" class="links">
                <img alt="Delete" src="@Url.Content("../../image/organizer.png")">
                @Html.DisplayFor(model => model.Organizer.OrganizerName)
            </a>
        </dd>

        <dt>
            @Html.DisplayName("Event Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayName("Event Location")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventLocation)
        </dd>

        <dt>
            @Html.DisplayName("Event Date")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayName("Start Time")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayName("End Time")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Events" , new { id = Model.EventID })" title="Edit" class="links">
        <img alt="Edit" src="@Url.Content("../../image/edit.png")">
        Edit
    </a> |
    @Html.ActionLink("Back to Event(s) List", "Index")
</p>
