@model IEnumerable<VU.Models.Registration>

@{
    ViewBag.Title = "Registration";
}

<p>
    <a href="@Url.Action("Create", "Registrations")" title="Add Registration" class="links">
        <img alt="Add Registration" src="@Url.Content("../../image/registration.jpg")">
        Add Registration
    </a>
</p>
@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Registration ID")

            </th>
            <th>
                @Html.DisplayName("Event Name")

            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Attendee.AttendeeName)*@
                @Html.DisplayName("Attendee Full Name")
            </th>
            <th>
                @Html.DisplayName("Registration Fee")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationID)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.EventName)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attendee.AttendeeFirstName) @Html.DisplayFor(modelItem => item.Attendee.AttendeeLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationFee)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Registrations" , new { id = item.RegistrationID })" title="Edit" class="links">
                <img alt="Edit" src="@Url.Content("../../image/edit.png")">
                Edit
            </a> |
            <a href="@Url.Action("Details", "Registrations" , new { id = item.RegistrationID })" title="Details" class="links">
                <img alt="Details" src="@Url.Content("../../image/details.png")">
                Details
            </a> |
            <a href="@Url.Action("Delete", "Registrations" , new { id = item.RegistrationID })" title="Delete" class="links">
                <img alt="Delete" src="@Url.Content("../../image/delete.png")">
                Delete
            </a>
        </td>
    </tr>
        }

    </table>
}
else
{
    <h2 align="center">Oops..!! There are no Registrations!!</h2>
}

