@model VU.Models.Attendee

@{
    ViewBag.Title = "Attendee Details";
}

<div>
    <h4>Attendee Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.AttendeeFirstName)*@
            @Html.DisplayName("Frist Name")

        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendeeFirstName)
        </dd>

        <dt>
            @Html.DisplayName("Last Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendeeLastName)
        </dd>

        <dt>
            @Html.DisplayName("Phone")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendeePhone)
        </dd>

        <dt>
            @Html.DisplayName("Address")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendeeAddress)
        </dd>

        <dt>
            @Html.DisplayName("Email")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttendeeEmail)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Attendees" , new { id = Model.AttendeeID })" title="Edit" class="links">
        <img alt="Edit" src="@Url.Content("../../image/edit.png")">
        Edit
    </a> |
    @Html.ActionLink("Back to Attendee(s) List", "Index")
</p>


<div>
    @if (Model.Registrations != null && Model.Registrations.Any())
    {
        <h4>Registered Events</h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Registration ID")
                </th>
                <th>
                    @Html.DisplayName("Event Name")
                </th>
                <th>
                    @Html.DisplayName("Event Location")
                </th>
                <th>
                    @Html.DisplayName("Event Date")
                </th>
                <th>
                    @Html.DisplayName("Start Time")
                </th>
                <th>
                    @Html.DisplayName("End Time")
                </th>
                <th>
                    @Html.DisplayName("Registration Fee")
                </th>
            </tr>

            @foreach (var item in Model.Registrations)
            {
        <tr>
            <td class="tdata">
                @Html.DisplayFor(modelItem => item.RegistrationID)
            </td>
            <td class="tdata">
                <a href="@Url.Action("Details", "Events" , new { id = item.EventID })" title="View Event Details" class="links">
                    <img alt="View Event Details" src="@Url.Content("../../image/event_d.png")">
                    @Html.DisplayFor(modelItem => item.Event.EventName)
                </a>
            </td>
            <td class="tdata">
                @Html.DisplayFor(modelItem => item.Event.EventLocation)
            </td>
            <td class="tdata">
                @Html.DisplayFor(modelItem => item.Event.EventDate)
            </td>
            <td class="tdata">
                @Html.DisplayFor(modelItem => item.Event.StartTime)
            </td>
            <td class="tdata">
                @Html.DisplayFor(modelItem => item.Event.EndTime)
            </td>
            <td class="tdata">
                @Html.DisplayFor(modelItem => item.RegistrationFee)
            </td>
        </tr>
            }
        </table>
    }
    else
    {
        <h3 align="center">Currently, there are no registered event for this attendee.</h3>
    }
</div>
